<div>
    <div>
        <h1>{{name}}</h1>
    </div>

    <hr />

    <div class="mb-4">
        <em>{{> title data="Users:"}}</em>
    </div>


    {{#each users}}
    <div class="mb-2">
        <div><b>ID:</b>{{id}}</div>
        <div><b>Name:</b>{{name}}</div>
        <div><b>Gender:</b>{{gender}}</div>
        <div><b>Age:</b>{{age}}</div>
    </div>
    <br />

    <div><em>
            <h5>Friends:</h5>
        </em></div>
    <ul class="mb-5">
        {{#each friends}}
        <li>
            <div><b>ID:</b>{{id}}</div>
            <div><b>Name:</b>{{name}}</div>
            <div><b>Gender:</b>{{gender}}</div>
            <div><b>Age:</b>{{age}}</div>
        </li>

        <div class="mt-4"><em>
                <h5>Mutual friends:</h5>
            </em></div>
        <ul>
            {{#each mutual_friends}}
            <li>
                <div><b>ID:</b>{{id}}</div>
                <div><b>Name:</b>{{name}}</div>
                <div><b>Gender:</b>{{gender}}</div>
                <div><b>Age:</b>{{age}}</div>
            </li>
            <ul>
                {{#each mutual_friends}}
                <div><em>
                        <h5>Mutual friends:</h5>
                    </em></div>
                <li>
                    <div><b>ID:</b>{{id}}</div>
                    <div><b>Name:</b>{{name}}</div>
                    <div><b>Gender:</b>{{gender}}</div>
                    <div><b>Age:</b>{{age}}</div>
                </li>
                {{/each}}
            </ul>
            {{/each}}
        </ul>

        {{!-- // ================================================================= --}}

        <ul class="mb-4">
            {{#if groups}}<div><em>
                    <h5>Groups:</h5>
                </em></div>{{/if}}
            {{#each groups}}
            <li>
                <div><b>ID:</b>{{id}}</div>
                <div><b>Name:</b>{{name}}</div>
                <div><b>Description:</b>{{description}}</div>
            </li>

            <div class="mt-4"><em>
                    <h5>Members:</h5>
                </em></div>
            <ul>
                {{#each members}}
                <li>
                    <div><b>ID:</b>{{id}}</div>
                    <div><b>Name:</b>{{name}}</div>
                    <div><b>Gender:</b>{{gender}}</div>
                    <div><b>Age:</b>{{age}}</div>
                </li>
                {{/each}}
            </ul>
            {{/each}}
        </ul>

        {{!-- // ================================================================== --}}

        {{/each}}
    </ul>

    {{#if groups}}
    <div><em>
            <h5>Groups:</h5>
        </em></div>
    {{/if}}

    <ul>
        {{#each groups}}
        <li>
            <div><b>ID:</b>{{id}}</div>
            <div><b>Name:</b>{{name}}</div>
            <div><b>Description:</b>{{description}}</div>
        </li>

        <br />

        <div><em>
                <h5>Members:</h5>
            </em></div>
        <ul>
            {{#each members}}
            <li>
                <div><b>ID:</b>{{id}}</div>
                <div><b>Name:</b>{{name}}</div>
                <div><b>Gender:</b>{{gender}}</div>
                <div><b>Age:</b>{{age}}</div>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </ul>
    {{/each}}
</div>