<div>
  {{#with program}}
    {{#with excursion}}
      <h1>{{name}}</h1>
      {{#each location}}
        <div><strong>{{this}}</strong></div>
      {{/each}}

      <br />

      <div><date>{{date}}</date></div>

      <hr />

      <em>{{> title data="Program:"}}</em>

      <br />

        {{#each program}}        

          <div>{{name}} ({{type}}) ({{duration}})</div>

          <br />

            {{#with details}}

                {{#with venue}}
                <name><b>Cabaret:</b>{{name}}</name>
                
                <div>
                  <address>Address: 
                      {{location.address}}, 
                      {{location.city}}, 
                      {{location.country}}
                  </address>
                </div>             
                {{/with}}

                <br />
                
                {{#if performers}}            
                  <em><b>Performers:</b></em>
                {{/if}}

                <ul>                        
                  {{#each performers}}
                      <li>
                        <div>{{name}}</div>
                        <div>{{type}}</div>
                      </li>
                  {{/each}} 
                </ul>   
              
                {{#with museum}}
                  <name><b>Museum:</b>{{name}}</name>

                  {{#with location}}
                      <div><address>Address: {{address}}, {{city}}, {{country}}</address></div>
                  {{/with}}

                  <br />

                  <em><b>Exhibits:</b></em>
                    <ul>         
                      {{#each exhibits}}
                          <li>
                            <div><b>{{name}}</b></div>
                            <div><i>Artist:</i>
                              {{#if artist includeZero=true}} {{artist}} {{else}} (unknown) {{/if}}                    
                            </div>
                            <div><i>Description:</i>{{description}}</div>
                            <div><i>Audio guide:</i>{{#if audio_guide}} no {{else}} yes {{/if}}</div>
                          </li>
                      {{/each}}                            
                    </ul>
                {{/with}}               

                {{#with guide}}
                  <div><b>Guide:</b> {{name}} {{language}} {{rating}}</div>
                {{/with}}
                <br />
                <br />
            {{/with}}          
        {{/each}}
    {{/with}}
  {{/with}}
  <hr />
</div>