<div>
  {{#with program}}
  {{#with excursion}}
  <h1>{{name}}</h1>
  {{#each location}}
  <div><strong>{{this}}</strong></div>
  {{/each}}

  <div class="mb-2">
    <date>{{date}}</date>
  </div>

  <hr />

  <div class="mb-5">
    <em>{{> title data="Program:"}}</em>
  </div>

  {{#each program}}

  <div>
    <div>{{name}} ({{type}}) ({{duration}})</div>
  </div>


  {{#with details}}

  {{#with venue}}
  <name><b>Cabaret:</b>{{name}}</name>

  <div class="mb-5">
    <address>Address:
      {{location.address}},
      {{location.city}},
      {{location.country}}
    </address>
  </div>
  {{/with}}

  {{#if performers}}
  <em><b>Performers:</b></em>
  {{/if}}

  <ul>
    {{#each performers}}
    <li>
      <div>{{name}}</div>
      <div>{{type}}</div>
    </li>
    {{/each}}
  </ul>

  {{#with museum}}
  <name><b>Museum:</b>{{name}}</name>

  {{#with location}}
  <div class="mb-5">
    <address>Address: {{address}}, {{city}}, {{country}}</address>
  </div>
  {{/with}}



  <em><b>Exhibits:</b></em>
  <ul>
    {{#each exhibits}}
    <li>
      <div><b>{{name}}</b></div>
      <div><i>Artist:</i>
        {{#if artist includeZero=true}} {{artist}} {{else}} (unknown) {{/if}}
      </div>
      <div><i>Description:</i>{{description}}</div>
      <div><i>Audio guide:</i>{{#if audio_guide}} no {{else}} yes {{/if}}</div>
    </li>
    {{/each}}
  </ul>
  {{/with}}

  {{#with guide}}
  <div class="mb-3"><b>Guide:</b> {{name}} {{language}} {{rating}}</div>
  {{/with}}

  {{/with}}
  {{/each}}
  {{/with}}
  {{/with}}
  <hr />
</div>