<main>
    <div>
        <div class="card">
            <div class="nav py-2">
                {{#with navigation}}
                {{#each links}}
                <div class="nav-item">
                    <a href="{{href}}" target="_blank"
                        class="nav-link {{#if href}}enabled{{else}}disabled{{/if}}">{{text}}</a>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>
    </div>

    {{!-- ======= header====== --}}
    {{#with header}}
    <div class="my-5">
        <h1>{{title}}</h1>
    </div>

    <div>
        <a href="{{button.link}}" target="_blank" class="btn btn-outline-secondary">{{button.text}}</a>
    </div>
    {{/with}}

    <hr class="my-5">

    {{!-- ====goodsBlock=== --}}

    <div>
        {{#each goodsBlock}}
        {{> cartGoodItem}}
        {{/each}}
    </div>

    <hr class="my-5">

    {{!-- ===total=== --}}
    <div>
        {{#with total}}
        <div>
            <h2>{{title}}</h2>
        </div>

        <div>
            <div class="display-3">{{amount}}</div>
        </div>

        <div class="mb-3">
            <strong>{{delivery}}</strong>
        </div>

        {{#each buttons}}
        <div class="class='list-group">
            <a class="btn 
            {{#if isSuccess}}btn-success{{/if}} 
            {{#if isOutline}}btn-outline-success{{/if}} my-2">{{text}}</a>
            {{/each}}
        </div>
        {{/with}}
    </div>


    <hr class="my-5">

    {{!-- ===goodsOtherBlock=== --}}
    <div>
        {{#with goodsOtherBlock}}
        <div mt-4>
            <h2 class="text-center">{{title}}</h2>
        </div>

        <div class='row col-12 mt-4'>
            {{#each cards}}
            <div class='col-4 g-3 my-2'>
                <div class='card'>

                    <img class='card-img-top' src='{{image}}' />

                    <div class='card-body'>
                        <h5 class='card-title'>
                            {{title}}
                            {{#if isHot}}<button class="btn btn-warning rounded-pill">HOT!</button>{{/if}}
                            {{#if isNew}}<button class="btn btn-primary rounded-pill">Нове</button>{{/if}}
                        </h5>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>

    <hr class="my-5">

    {{!-- ===subscribe=== --}}
    <div class="my-5">
        <div class="alert alert-dark">
            {{#with subscribe}}
            <div class="text-black">
                <h2>{{header}}</h2>
                <p>{{description}}</p>
            </div>
            {{#each buttons}}

            <div class="m-2">
                <a href="{{link}}" target="_blank" class="btn btn-primary">
                    {{text}}
                </a>
            </div>


            {{/each}}
            {{/with}}
        </div>
    </div>

    <hr class="my-5">

    {{!-- ===footer=== --}}
    <div class="my-5">
        <div class="row g-5">
            {{#each footer}}
            <div class="nav col-2">
                <div>
                    {{#each this}}
                    <div>
                        <a href="{{link}}" target="_blank" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>