<main>
    {{!-- ===navigation=== --}}
    <div>
        {{> navshop}}
    </div>

    <div class="row">
        {{#with formBlock}}
        <div class="col-8">

            <h1 class="mt-5">{{header}}</h1>

            {{!-- ===rating=== --}}
            <div class="mt-3">
                {{#with rating}}
                <div>{{title}}: {{value}}</div>
                {{/with}}
            </div>

            {{!-- ===actionBlock=== --}}
            {{#with actionBlock}}

            {{!-- ===tabs=== --}}
            <div class="nav nav-tabs my-4">
                {{#each tabs}}
                <div class="nav-item ">
                    <a href="#" target="_blank" class="nav-link {{#if isActive}}active{{/if}}">{{text}}</a>
                </div>
                {{/each}}
            </div>

            <hr class="my-5">
            {{!-- ===report=== --}}
            {{#with report}}
            <div class="card">
                <div>
                    <div class="ms-3 mt-4">{{title}}</div>
                    {{#with button}}
                    <a href="{{link}}" target="_blank" class="btn btn-secondary ms-3 mt-3 mb-4">{{text}}</a>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            {{/with}}

            <hr class="my-5">
            {{!-- ===feedbackBlock=== --}}
            {{#with feedbackBlock}}
            <h2 class="mt-5">{{title}}</h2>

            {{#each buttons}}
            <a href="{{link}}" target="_blank" class="btn 
            {{#if isWarning}}btn-Warning{{/if}}
            {{#if isSuccess}}btn-Success{{/if}}
            {{#if isDanger}}btn-Danger{{/if}}
            m-5">{{text}}</a>
            {{/each}}
            {{/with}}
        </div>

        {{!-- ===goodsInfo=== --}}
        {{#with goodsInfo}}
        <div class="col-4 my-5">
            <div class="card">
                <div class="card-body">
                    <div><img src="{{photo}}"></div>
                    <h4 class="mt-3">{{name}}</h4>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-body">
                    <div class="display-5">{{price}}</div>
                    <h5 class="mt-3">{{#if inMarket}}Є в наявності{{else}}Нема в наявності{{/if}}</h5>

                    {{#each buttons}}
                    <div class="my-3">
                        <a href="{{link}}" target="_blank" class="btn 
                        {{#if isPrimary}}btn-primary{{/if}}
                        {{#if isSecondary}}btn-secondary{{/if}}">
                            {{text}}
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{#with seller}}
            <div class="card">
                <div class="card-body">
                    <div>{{title}}: <b>{{value}}</b></div>
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}
        {{/with}}
    </div>

    <hr class="mb-5">

    {{!-- ===reviewList=== --}}
    <div>
        {{#each reviewList}}
        {{> reviewItem}}
        {{/each}}
    </div>

    <hr class="my-5">

    {{!-- ===service=== --}}
    <div class="my-5">
        <div class="alert alert-success">
            {{#with service}}
            <div class="text-black text-center">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
            </div>
            {{#each buttons}}
            <div class="text-center">
                <a href="{{link}}" target="_blank" class="btn btn-primary">
                    {{text}}
                </a>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </div>

    {{!-- ===footer== --}}
    <hr class="my-5">

    <div>
        {{> footershop}}
    </div>
</main>