{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li class="my-5">
                        <div class="my-3">{{position}}</div>

                        <div class="my-3">
                            {{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (ещё работаем)
                            {{/if}}
                        </div>

                        <div class="my-3">
                            {{#if company.url}}
                            {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                            <p>{{company.name}}</p>
                            {{/if}}
                        </div>

                        <div class="mt-5 mb-3">
                            <strong>Projects ({{projectAmount}})</strong>
                        </div>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div class="my-3">{{> link text=name href=url blank=true noLine=true}}</div>

                                <div class="my-3">
                                    <p>{{about}}</p>
                                </div>

                                <div class="my-3">
                                    <em>Project stacks ({{stacksAmount}})</em>
                                </div>

                                {{#each stacks}}
                                <div class="my-3">{{name}}</div>
                                {{/each}}

                                <div class="my-3">
                                    <em>Project awards ({{awardsAmount}})</em>
                                </div>

                                {{#each awards}}
                                <div>{{name}}</div>
                                {{/each}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}